@import './reset.css';
@import './variables.css';

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: #0f172a;
  background: var(--color-background);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
